.table {
  width: 100%;
  border-collapse: collapse;
  color: #1c1c1c;
  table-layout: fixed;
}

.header {
  background-color: #1c1c1ceb;
  color: #fff;
  padding: 10px;
  border: 1px solid #1c1c1c;
}

.header,
.string_border {
  padding: 10px;
  border: 1px solid #1c1c1c;
  text-align: center;
}

.string_border {
  text-transform: capitalize;
}


.evenRow {
  background-color: #dfdcdc;
}

.oddRow {
  background-color: #c4c6c5;
}
