ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(227, 220, 220, 0.512);
  padding: 30px 20px;
}
/* 
:root {
  --color-text-black: #1c1c1c;
  --color-text-read: #1c1c1c;
  --color-text-green: #1c1c1c;

  --background-light-gray:#e4e1e1;
  --background-dark-gray:#6b6b6b3a;

  --border-color-black:#1c1c1c;
  --border-color-gray:#6d6e70;
} */
